In [1]:
print("Hello World ")

Hello World

String

In [1]:
name = "abdus Sami"
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i])   # methods and attributes

Muhammad Qasim
<class 'str'>
2269152801392
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [2]:
name = "Muhammad Qasim"
name = 700
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address

700
<class 'int'>
1879801820752

In [3]:
name : str = "Muhammad Qasim"
print(name)

Muhammad Qasim

TYPE DOES NOT WORK HERE

In [4]:
name : str = 700
print(name)

700

INTEGER METHODS

In [5]:
name : int = 2000
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

2000
<class 'int'>
1879801818800
['as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

FLOAT METHOD

In [6]:
name : float = 7.0
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

7.0
<class 'float'>
1879801811216
['as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

BLOOLEAN METHOD

In [7]:
name : bool = True
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

True
<class 'bool'>
140734408137576
['as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

ARRAY(LIST) => METHOD

In [8]:
name : list[str] = ['a','b','c']
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

['a', 'b', 'c']
<class 'list'>
1879801966528
['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [9]:
name : tuple[str,int,float] = ('pakistan',7,2.0)
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

('pakistan', 7, 2.0)
<class 'tuple'>
1879801946944
['count', 'index']

STYPE DOESNOT WORK HERE

In [10]:
name : tuple[str,int,float] = ('pakistan',7,"aaa")
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

('pakistan', 7, 'aaa')
<class 'tuple'>
1879801913088
['count', 'index']

ANY TYPE

In [ ]:
name : any = "Pakistan"
print(name) # print
print(type(name)) # type
print(id(name)) # physcial address
print([i for i in dir(name) if "__" not in i]) # methods and attributes